{% extends 'base.html.twig' %}

{% block title %}Creation de compte
{% endblock %}

{% block body %}
<form method="post" action="{{ path('user_registration') }}" class="col-md-5 mx-auto bg-white p-lg-5 p-md-4 p-sm-3 p-3 pt-sm-5 pt-5 my-5" id="user_reg">

	<div class="d-flex align-items-center">
		<h1 class="h3 mb-3 font-weight-normal text-center">Creation de compte</h1>
	</div>
	<div class="mb-3">
		<div class="form-floating">
			<input type="text" name="email" value="{{ user.email is defined ? user.email : "" }}"
				class="form-control{{ errors.email is defined ? ' is-invalid' : '' }}" id="floatingInput">
			<label for="floatingInput">Email</label>
		</div>
		{% if errors.email is defined %}
		<div class="invalid-feedback d-block">{{ errors.email }}</div>
		{% endif %}
	</div>
	<div class="mb-3">
		<div class="form-floating">
			<input type="text" name="password" value="{{ user.password is defined ? user.password : "" }}"
				class="form-control{{ errors.password is defined ? ' is-invalid' : '' }}" id="floatingInput"
				autocomplete="email" autofocus>
			<label for="floatingInput">Mot de passe</label>
		</div>
		{% if errors.password is defined %}
		<div class="invalid-feedback d-block">{{ errors.password }}</div>
		{% endif %}
	</div>
	<div class="mb-3">
		<div class="form-floating">
			<input type="text" name="password" value="{{ user.password2 is defined ? user.password2 : "" }}"
				class="form-control{{ errors.password2 is defined ? ' is-invalid' : '' }}" id="floatingInput"
				autocomplete="email" autofocus>
			<label for="floatingInput">Confirmation du mot de passe</label>
		</div>
		{% if errors.password2 is defined %}
		<div class="invalid-feedback d-block">{{ errors.password2 }}</div>
		{% endif %}
	</div>

	<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

	<button class="btn btn-lg btn-primary d-block w-100" type="submit">Creer mon compte</button>
</form>
{% endblock %}